/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* Add your custom styles here... */

.product-box h1{
	font-size: 28px!important;
}

#responsive-menu-additional-content .phone a span:before{
    content: '\f095';
    font: normal normal normal 18px/1 FontAwesome;
    color: #fff!important;
    margin-right: 4px!important;
}
.tab_camo .fl-tabs-label{
    display: none!important;
}
.gfield_time_ampm select{
    min-width: 60px!important;
}
.row {
    margin-right: 0px!important;
    margin-left: 0px!important;
}

.fa-youTube:before {
    content: "\f167";
}

body {
    font-family: 'Roboto', sans-serif;
}

.fl-page {
    width: auto;
}

.fl-page .fl-page-content .fl-content {
    margin: 0;
}

p {
    margin-bottom: 24px;
}

p:last-child {
    margin-bottom: 0;
}

.fl-page .fl-content-full.container {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.container {
    width: 100%;
    max-width: 1250px;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

button,
input[type=button],
input[type=submit],
a.button,
a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
    padding: 12px 35px;
    background: #f06449;
    border: 1px solid #f06449;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 0 0 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

a.fl-button *,
a.fl-button:visited *,
.fl-builder-content a.fl-button * {
    color: inherit !important;
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover,
a.button:hover,
a.fl-button:hover,
a.fl-button:visited:hover,
.fl-builder-content a.fl-button:hover {
    background: #fff;
    color: #f06449;
    border-color: #f06449;
}

a.fl-button:hover *,
a.fl-button:visited:hover *,
.fl-builder-content a.fl-button:hover * {
    color: #f06449;
}

a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button {
    border-radius: 0 !important;
}

.max-1660 {
    max-width: 1660px;
    margin: 0 auto;
}

.navbar .nav .menu-item-has-children>a:after {
    content: "\f078";
    font-family: FontAwesome !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 2px 0 0 10px;
    font-weight: 400;
}
.page-id-901125  li#field_21_28 ul.gfield_radio,
.page-id-901125 .gform_wrapper .top_label li ul.gfield_radio{
	display: flex !important;
    align-items: center;
    justify-content: center;
}
.page-id-901125  li#field_21_28 ul.gfield_radio li,
.page-id-901125 .gform_wrapper .top_label li ul.gfield_radio li{
	flex: 0 0 33% !important;
}
.navbar .nav .sub-menu .menu-item-has-children>a:after {
    content: "\f054";
    position: absolute;
    right: 15px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}


/*  Header CSS */

.fl-page-header-primary {
    border-bottom: 4px solid #fdda01;
}

.fl-page-header-primary:after {
    content: "";
    display: block;
    border-bottom: 8px solid #367c2b;
}

.fl-page-header-primary .phoneno {
    order: 2;
    margin-left: 25px;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

.fl-page-header-primary .phoneno .fa {
    margin-right: 10px;
    font-size: 120%;
    vertical-align: middle;
}

#djcustom-footer .store-opening-hrs li {
    padding-bottom: 5px;
    line-height: 1.3;
}

#djcustom-footer .store-opening-hrs li:last-child {
    padding-bottom: 0;
}

#djcustom-footer .store-opening-hrs li span {
    display: inline-block;
    vertical-align: top;
}


/* Slick Slider CSS*/

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: auto;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/* Breadcrumbs */

.breadcrumbs {
    font-size: 90% !important;
    padding: 20px 15px 0;
}

.breadcrumbs a {
    font-size: 100% !important;
}


/* Top Bar 1 */

.top-bar-1 {
    text-align: left;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 7;
    padding: 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
}

.top-bar-1 .fl-row-content-wrap {
    background: none !important;
}

.top-bar-1 .fl-row-content-wrap .fl-module-content {
    margin-top: 0;
    margin-bottom: 0;
}

.top-bar-1 .fl-module-heading .fl-heading {
    margin: 0;
    padding: 0;
}

.top-bar-1 p {
    display: none;
}

.top-bar-1 a {
    color: #fff;
    font-size: 85%;
    font-weight: 300 !important;
}

.top-bar-1 .fl-module-icon {
    margin-top: 5px;
}

.top-bar-1 .fl-module-icon .fl-module-content {
    margin: 0;
}

.top-bar-1 .fl-module-icon .fl-icon-text {
    padding-left: 10px;
    height: auto !important;
}

.top-bar-1 .fl-module-icon .fl-icon-text p {
    display: block;
    margin: 0;
}

.top-bar-1 a:hover,
.top-bar-1 a:active,
.top-bar-1 a:focus {
    text-decoration: none !important;
    color: #dedddd
}

.top-bar-1 ul {
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

.top-bar-1 ul li {
    display: inline-block;
    list-style: none;
    padding: 0 30px 10px 30px;
}

.top-bar-link {
    text-align: center !important;
}

.top-bar-link a {
    color: #FF0000 !important;
    font-weight: 300 !important;
}

.white-link a {
    color: #fff !important;
}


/* Navagation 1 */

.nav-1 {
    margin: 0 auto;
}

.nav-1 .fl-page-nav .navbar-nav,
.fl-page-nav .navbar-nav a {
    text-align: left;
}

.nav-1 ul li {
    padding: 0 10px;
}

.nav-1 a {
    color: #2d2d2d;
}

.nav-1 a:hover,
.nav-1 a:active,
.nav-1 a:focus {
    text-decoration: none !important;
}

.nav-1 .fl-has-submenu-container {
    margin-bottom: 10px;
}

.fl-page-cart {
    position: relative;
    display: block;
    float: right;
    padding: 7px 25px;
    font-size: 1.5em;
}

.fl-page-nav-search a.fa-search {
    color: #fff;
    right: auto;
}

.fl-page-nav-search-wrap {
    position: relative;
    display: inline-block;
    text-align: right;
}


/* Nav 1 Mega Menu */

.fl-page-nav-right .fl-page-nav-wrap a,
.fl-page-nav-right .fl-page-nav-wrap a * {
    color: #2d2d2d !important;
}

.fl-page-nav-wrap .navbar-nav>li {
    margin: 0 5px;
}

.fl-page-nav-wrap .navbar-nav>li>a {
    font-size: 18px;
    padding: 10px;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu,
.fl-page-nav ul.sub-menu {
    border-top: 3px solid #fdda01;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu a {
    color: #2d2d2d !important;
}

.fl-page-nav-wrap .navbar-nav li>a:hover,
.fl-page-nav-wrap .navbar-nav li:hover>a,
.fl-page-nav-wrap ul.sub-menu>li>a:hover,
.fl-page-nav-wrap ul.sub-menu>li:hover>a,
.fl-page-nav-wrap ul.sub-menu>li.current-menu-item>a,
.fl-page-nav-wrap ul.sub-menu>li.current-menu-parent>a,
.fl-page-nav-wrap .navbar-nav li.current-page-item>a,
.fl-page-nav-wrap .navbar-nav li.current-menu-item>a,
.fl-page-nav-wrap .navbar-nav li.current-menu-ancestor>a,
.fl-page-nav-wrap .navbar-nav li.current-menu-parent>a {
    color: #367c2b !important;
}

.yawp_wim_title {
    display: none;
}

@media screen and (min-width: 992px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu {
        border: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 18.5%;
        float: left;
        border-color: white;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li a {
        padding: 5px;
        color: #2d2d2d !important;
        font-size: 90%;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li.menu-item-type-yawp_wim {
        width: 26%;
        margin-bottom: -95px;
        clear: right;
    }
}

@media screen and (max-width: 991px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu li>ul.sub-menu {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        display: none;
    }
    .fl-page-nav-right .fl-page-nav-cart {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 50%;
        display: block;
        float: left;
        border-color: transparent;
    }
}

@media (max-width: 1100px) {
    .fl-page-nav .navbar-nav li>a {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    .fl-page-nav-right .fl-page-nav ul.navbar-nav {
        float: none !important;
        margin-left: 20px;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu {
        /* margin-left: -60%; */
        text-align: center;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li {
        border-bottom: 1px solid #EEEEEE;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li:last-child {
        border: 0px;
    }
}

@media screen and (max-width: 768px) {
  .product-detail-layout-5 .button-wrapper {
	justify-content: center!important;
}  
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 100%;
        float: none;
        display: block;
        border-color: #e6e6e6;
    }
}


/* Search */

.fl-page-nav-right .fl-page-nav-search {
    float: right;
    position: relative;
}

.fl-page-nav-right .fl-page-nav-cart {
    float: right;
    position: relative;
    font-size: 20px;
    padding: 8px 15px 8px 60px;
}

.fl-page-nav-search form {
    background-color: #212121;
    border-top: 0px solid #a1c5e5;
    display: none;
    padding: 40px;
    position: absolute;
    right: 0px;
    top: 63px;
    width: 1040px;
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1099px) {
    .fl-page-nav-search form {
        background-color: #767676;
        border-top: 0px solid #a1c5e5;
        display: none;
        padding: 40px;
        position: absolute;
        right: 0;
        top: 65px;
        width: 500px;
    }
}


/* Mega Menu ShortCode */

ul.navbar-nav li.mega-menu>ul.sub-menu>li>a {
    font-weight: 700 !important;
    color: #2d2d2d !important;
}

header .fl-row-content {
    position: relative;
}

@media(min-width:1024px) {
    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::before {
        content: '';
        position: absolute;
        right: -5px;
        top: 50%;
        z-index: 1;
        display: block;
        width: 9px;
        height: 9px;
        margin: -5px 2px 0 0;
        border-right: 2px solid;
        border-bottom: 2px solid;
        -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: translateX( -5px) rotate( 45deg);
        -ms-transform: translateX( -5px) rotate( 45deg);
        transform: translateX( -5px) rotate( 45deg);
        border-color: #2d2d2d;
    }
}

.sc_mega_menu .navbar-nav>li>a {
    padding: 36px 10px;
}

.sc_mega_menu ul.sub-menu li li a {
    margin: 0px;
}

.sc_mega_menu .fl-page-nav-wrap {
    border: 0px;
}

.textwidget a.acc_banner_link {
    padding: 0 !important;
}

@media(max-width:1024px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 8px;
    }
}

@media(max-width:900px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 0px;
    }
}


/* Mega Menu Full width */

@media (min-width: 768px) {
    ul.navbar-nav li.mega-menu ul.sub-menu {
        border-top: 0px solid #2d2d2d;
    }
    UL.navbar-nav LI.mega-menu>UL.sub-menu:after {
        content: "";
        display: block;
        position: absolute;
        left: auto;
        top: -1px;
        height: 100%;
        width: auto;
        transform: translateX(-50%);
        z-index: -1;
        box-sizing: border-box;
        border-top: 1px solid #2d2d2d;
        -moz-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        background-color: #fff;
    }
    .sc_mega_menu .mega-menu .sub-menu {
        left: 0px!important;
        position: relative;
    }
    .sc_mega_menu .navbar-nav>li.menu-item-has-children:hover::before {
        content: "▲";
        color: #fff;
        position: absolute;
        z-index: 1001;
        bottom: -5px;
        margin-left: 80%;
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.05);
        -webkit-transform: scale(1.5, 1);
        -moz-transform: scale(1.5, 1);
        -ms-transform: scale(1.5, 1);
        -o-transform: scale(1.5, 1);
        transform: scale(1.5, 1);
    }
    .sc_mega_menu .navbar-nav>li.mega-menu.menu-item-has-children:hover::before {
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.1);
    }
    .sc_mega_menu .navbar-nav>li.menu-item-19634.menu-item-has-children:hover::before {
        margin-left: 8%;
    }
    .sc_mega_menu ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(3) {
        border: 0px;
    }
    .sc_mega_menu ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        margin-bottom: -55px;
        border: 0px;
        padding: 0 !important;
    }
    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 50px;
    }
}

@media (max-width: 768px) {
  
    button#responsive-menu-button {
        top: 18px!important;
    }
    .header-boxed-1 .fl-slide-content-wrap {
        padding: 0px;
    }
}


/* home full bar */

@media(min-width:1500px) {
    .full-bar-lg .fl-module {
        margin-left: 25%;
    }
}


/* Web Forms */

.web-form input {
    border-radius: 0 !important;
}

.web-form .gform_body label {
    font-weight: 300 !important;
}

.web-form .gform_footer {
    text-align: center !important;
}

.web-form .button {
    padding: 10px 30px;
    color: #fff!important;
    border: none !important;
}

.web-form .gform_wrapper div.validation_error {
    color: #790000 !important;
}

.web-form .textarea {
    border-radius: 0 !important;
    max-height: 120px;
}

.web-form select {
    padding: 6px !important;
}

.web-form .ginput_container_time select {
    padding: 0 !important;
}

body .gform_wrapper .gform_body .gform_fields .gfield select {
    border: 1px solid #e6e6e6;
    background-color: #FCFCFC!important;
}

.ui-datepicker-title {
    color: #333;
}

.web-form button:hover,
.web-form input[type=button]:hover,
.web-form input[type=submit]:hover {
    background: #B31A21 !important;
    border: none;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 2px !important;
    margin-right: 5px !important;
}

.default-form h1 {
    line-height: 1em;
    font-weight: 700 !important;
    font-size: 3.3em !important;
}


/* 500 Coupon Page */

.coupon h2 {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.coupon h1 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.coupon h3 {
    line-height: 1em;
}

.coupon h4 {
    font-size: 1.2em;
    font-weight: normal;
}


/* Tabs 1 */

.tabs-1 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-1 .fl-tabs-label {
    border-color: transparent !important;
    width: 25%;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.fl-tabs-panel-content .row {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
}

.tabs-1 .fl-row-fixed-width,
.tabs-1 .fl-row-content-wrap {
    max-width: 100% !important;
    margin: 20px 0 !important;
    padding: 0 !important;
}

.tabs-1 .fl-tabs-panel-content {
    padding: 0;
    margin: 0;
    width: 100%;
}

.tabs-1 .fl-tabs-panels,
.tabs-1 .fl-tabs-panel {
    border: none;
}

.fl-tabs-labels .fl-tabs-label {
    outline: none !important;
}


/* Tabs */

.tabs-2 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-2 .fl-tabs-label {
    border-color: transparent !important;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.tabs-2 .fl-tabs-labels {
    max-width: 82%;
    margin: 0 auto;
    text-align: center;
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-3 .fl-tabs-label {
    max-width: 33%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .tabs-3 .fl-tabs-label {
        max-width: 100%;
        white-space: nowrap;
    }
}

.tabs-3 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
    padding-bottom: 40px;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-3 .fl-tabs-labels {
    max-width: 1020px !important;
    margin: 0 auto;
}

.tabs-3 .fl-tabs-panel-content {
    padding: 0 0 40px 0!important;
    margin: 0 !important;
    background-color: #FAFAFA !important;
}

.tabs-3 .fl-tabs-panel-content .row {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}

.tabs-3 iframe {
    margin-top: -40px;
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-4 .fl-tabs-label {
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
}

.tabs-4 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-5 {
    max-width: 1100px;
    margin: 0 auto;
}

.tabs-5 .fl-tabs-label {
    max-width: 20%;
    margin: 0 auto;
    text-align: center;
}

.tabs-5 .fl-tabs-labels {
    margin-bottom: 20px;
    text-align: center;
}

.tabs-5 .fl-tabs-label.fl-tab-active:after {
    display: none;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label {
    float: none;
    display: table-cell;
    width: 1%;
    border-radius: 0;
    max-width: none;
    text-transform: uppercase;
    background: #fff;
    color: #f06449!important;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label.fl-tab-active {
    color: #fff !important;
    background: #f06449!important;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-5 .tab_desc {
    width: 40%;
    float: left;
    margin-right: 5%;
    padding: 20px 20px 20px 0;
}

.tabs-5 .tab_title {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin: 0 0 20px;
}

.tabs-5 .tab_desc a.button {
    font-family: 'Montserrat', sans-serif;
    padding: 7px 35px;
}

.tabs-5 .tab_img {
    padding: 20px;
    width: 55%;
    float: left;
}

.tabs-5 .tab_img img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.tabs-products .fl-tabs-panel-content {
    padding-top: 40px !important;
}

.tabs-products h3 {
    font-size: 1.5em;
}

.fl-slide-text-center .fl-slide-photo-wrap img {
    max-height: none;
}


/*location row */

.location-row a {
    color: #808080 !important;
}

.location-top a {
    color: #2d2d2d !important;
    font-weight: 700;
}

.location-top .fl-button {
    width: 100% !important;
    text-align: center;
}


/* product row */

.product-row h4,
.product-row h5 {
    font-weight: 300;
    text-transform: uppercase;
}

.product-row h3 {
    text-transform: uppercase;
}

@media (max-width: 767px) {

    .product-row.featured h3,
    .product-row.featured h4,
    .product-row.featured h5 {
        text-align: center !important;
    }
    .product-row.featured h4 {
        margin-bottom: 20px !important;
    }
}


/*Project Gallery */

.project-gallery .fl-photo-caption-below {
    text-align: left !important;
}


/* Image Galleries */

.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
}

.gallery-menu ul li a:hover {
    text-decoration: none;
}

.active-gallery-modal .gallerySlider .gallery-img-holder img {
    width: auto;
    height: auto;
    max-height: 600px;
    margin: 0 auto;
}


/* Reviews */

.reviews h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.reviews img {
    margin: 0;
    padding: 0 0 5px 0;
}


/* Facet CSS */

.facetwp-facet select {
    width: 100%;
    padding: 10px;
}

.facetwp-selections ul li {
    font-size: 16px;
}

.facetwp-per-page {
    text-align: right !important;
}

.facetwp-per-page select {
    padding: 5px;
}

.facetwp-counts {}

.facetwp-pager {
    float: right;
}

.bottom-pager .facetwp-pager {
    float: none;
    text-align: center;
}

.facetwp-pager span.pager-text {
    font-size: 14px !important;
    padding-right: 10px;
}

.facetwp-pager span.pager-arrow {
    font-size: 28px;
}

.facetwp-pager a {
    color: #929292;
    vertical-align: middle;
}

.facetwp-pager a:hover {
    text-decoration: none;
}

.facetwp-page {
    display: inline-block;
    padding: 0px 4px;
    margin-right: 6px;
    cursor: pointer;
}

.product-count {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
}

.faceted_results {
    margin-top: 20px;
}

.facet-wrap {
    display: none;
}

.facet-wrap.is-hidden {
    display: none !important;
}

.facet_filters .facetwp-facet {
    margin-bottom: 25px;
}

.facet_filters strong {
    font-size: 16px;
    color: #f06449;
    display: block;
    margin: 0 0 10px;
}

.facet-inner {
    max-height: 360px;
    overflow: auto;
}


/* Product Box */

.product-box {
    text-align: left;
}

.product-box a.fl-button {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 180px !important;
    display: block;
    text-align: center;
}

.product-box a.fl-button:hover {
    text-decoration: none;
}

.product-box a.fl-button.btn-white {
    background-color: transparent !important;
    border-color: #554E46 !important;
}

.product-box h1 {
    margin: 0 0 0 0;
    padding: 0;
    text-transform: none;
    font-weight: 700;
    font-size: 32px;
}

.product-box h2 {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 1.8rem;
}


/* Product Colors */

.product-colors ul {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
}

.product-colors ul li {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.product-colors ul li.found {
    font-size: 5rem;
    padding-right: 15px;
    font-weight: 300;
}


/* Product Attributes */

.product-atts ul {
    margin: 40px 0 0 0;
    padding: 0;
    color: #008c8c;
}

.product-atts ul li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-atts a.fl-button {
    padding: 10px 40px;
}

.product-attributes {
    text-transform: capitalize;
    margin-bottom: 80px;
    margin-top: 60px;
}

.product-attributes table th,
.product-attributes table td {
    padding: 12px !important;
}

.product-attributes table th {
    width: 30%;
}

.product-attributes table td {
    width: 70%;
}


/* Product Swatch */

.product-swatch {
    text-align: center;
}

.product-swatch .img-responsive {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 450px;
}

.product-swatch .img-responsive img {
    display: none;
    margin: 0 auto;
}


/* Product Variation */

.product-variations {
    margin: 80px 0 50px 0;
}

.product-variations img {
    width: 100%;
    height: auto;
}

img.product-logo {
    max-width: 140px;
    height: auto;
    margin-bottom: 15px;
}


/* Color Box */

.color-box {
    margin-bottom: 30px;
    line-height: normal;
    min-height: 180px;
}

.color-box small {
    font-size: 80%;
}

.product-brand {
    text-transform: uppercase;
    font-size: 0.85em;
    margin-bottom: 0;
    min-height: 20px;
    letter-spacing: 2px;
}


/* Image Gallery Modal */

.active-gallery-modal .fl-row-content-wrap>.row {
    /* display: flex;
    overflow: hidden; */
}


/* Social Icons */

ul.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul.social-icons li {
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 10px 0;
    width: 25px;
    text-align: center;
}

ul.social-icons li a i {
    font-size: 23px;
    color: #767676;
}

ul.social-icons li a:hover i {
    color: #f1463c !important;
}

ul.social-icons li a[title^="angiesList"] {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 20px;
    top: 5px;
}

ul.social-icons li a[title^="angiesList"]:before {
    position: absolute;
    background: #fff;
    top: -4px;
    left: -2px;
    content: '';
    width: 100%;
    height: 15px;
    border: 2px solid #000;
    border-radius: 30px;
}

ul.social-icons li a[title^="angiesList"]:after {
    position: absolute;
    bottom: 0px;
    content: '';
    width: 0;
    height: 0;
    left: 3px;
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: #000 transparent transparent transparent;
}

ul.social-icons li a[title^="angiesList"] .fab:after {
    position: absolute;
    z-index: 1;
    bottom: 4px;
    content: '';
    width: 0;
    height: 0;
    left: 5px;
    border-style: solid;
    border-width: 8px 4px 0 4px;
    border-color: #fff transparent transparent transparent;
}


/* Mobile Menus */

header .close_menu,
header .show_menu,
header .search_mobile,
header .close_search,
header .search_wrapper {
    display: none;
}

@media (max-width:768px) {
    /* Gallery Modal */
    .active-gallery-modal .content {
        display: block;
    }
    .active-gallery-modal .content>* {
        display: block;
    }
    .active-gallery-modal .col_swatch {
        width: 100%;
        height: 100vw;
        max-height: 200px;
    }
    .active-gallery-modal .close_modal {
        color: white;
        right: 10px;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    }
    .active-gallery-modal .product-box {
        padding: 30px 0px;
    }
    /* Header */
    header .close_menu,
    header .show_menu,
    header .search_mobile,
    header .close_search {
        display: inline;
    }
    header .close_menu,
    header .show_menu,
    header .search_mobile,
    header .close_search {
        font-size: 30px;
        float: left;
        margin-left: 20px;
        line-height: 30px;
        margin-top: 10px;
        margin-bottom: -10px;
    }
    header .search_mobile,
    header .close_search {
        float: right;
        margin-right: 20px;
    }
    header .search_wrapper {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px 20px;
        position: relative;
        overflow: hidden;
    }
    header .search_wrapper a {
        position: absolute;
        right: 30px;
        top: 25px;
        color: #554e46;
        font-size: 20px;
    }
    header .close_search {
        display: none;
    }
    .fl-builder-content-84 {
        position: fixed;
        top: 0px;
        z-index: 30;
        height: 45px;
        overflow: hidden;
        width: 100%;
    }
    .fl-builder-content-84 .top-bar-1 {
        padding-top: 0px;
        text-align: center;
    }
    .fl-builder-content-84 .top-bar-1 .acc_banner_link {
        margin-top: -5px;
        margin-bottom: 5px;
    }
    /* Custom Header */
    #djcustom-header {
        top: 35px!important;
    }
    #djcustom-header {
        position: fixed!important;
        background-color: white;
    }
    #djcustom-header .fl-photo {
        max-width: 180px;
        margin: auto;
        margin-top: 5px;
        margin-bottom: -5px;
    }
    #djcustom-header .fl-module-content {
        margin: 10px 0px 0px 0px;
    }
    /* Mega Menu */
    .sc_mega_menu {
        display: none;
    }
    .sc_mega_menu::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
    }
    .sc_mega_menu a {
        font-weight: bold;
    }
    .sc_mega_menu .fl-page-nav-wrap {
        position: fixed;
        height: 100%;
        overflow: auto;
        width: 80%;
        background-color: white;
        z-index: 100;
        overflow-x: hidden;
    }
    .sc_mega_menu button {
        display: none;
    }
    .sc_mega_menu .fl-page-nav-collapse {
        display: block;
        visibility: visible;
    }
    .sc_mega_menu ul.sub-menu {
        position: static;
        display: none!important;
    }
    .sc_mega_menu .yawp_wim_wrap a:before {
        display: none;
    }
    .sc_mega_menu .menu-item-type-yawp_wim {
        display: none!important;
    }
    .sc_mega_menu .secondary_menu {
        margin: 0px;
    }
    .sc_mega_menu.active .secondary_menu {
        display: block;
    }
    .sc_mega_menu.active .fl-page-nav {
        display: none;
    }
    .sc_mega_menu.active .secondary_menu ul.sub-menu {
        display: block!important;
    }
    .sc_mega_menu.active .secondary_menu ul.sub-menu ul.sub-menu {
        display: none!important;
    }
    .sc_mega_menu .secondary_menu .main_link>a {
        font-weight: bold;
        background-color: #F9F9F9;
    }
    .sc_mega_menu .secondary_menu a {
        padding-left: 15px!important;
    }
    .sc_mega_menu .secondary_menu .main_link>a:before {
        content: "\f104";
        font-family: "FontAwesome";
        font-size: 16px;
        margin-right: 30px;
        margin-left: 0px;
    }
    .sc_mega_menu .secondary_menu li {
        padding: 0px;
    }
    .sc_mega_menu .has_subitems>a:after {
        content: "\f105";
        font-family: "FontAwesome";
        float: right;
        font-size: 16px;
        margin-right: 20px;
    }
    .sc_mega_menu .secondary_menu .menu-item-has-children>a {
        font-weight: bold;
    }
    .sc_mega_menu .secondary_menu .menu-item-has-children a:before {
        display: none;
    }
    .sc_mega_menu .secondary_menu .menu-item-has-children .sub-menu a {
        text-transform: none;
        font-size: 12px;
    }
    /* Footer */
    footer {
        padding: 30px 0px;
    }
    footer .fl-row-content-wrap {
        padding: 0px!important;
    }
    footer .fl-col {
        margin: 0px!important;
        max-width: none!important;
        width: 100%;
    }
    footer .fl-module-content {
        margin: 0px!important;
    }
    footer a {
        margin-bottom: 0px!important;
    }
    footer .social-icons {
        text-align: center;
        padding: 0 20px;
    }
    footer .menu>li>a {
        border-bottom: 1px solid #919191;
        padding: 10px 20px!important;
        display: block;
    }
    footer .menu>li.menu-item-has-children>a:after {
        content: "\f107";
        font-family: "FontAwesome";
        float: right;
        font-size: 16px;
    }
    footer .fl-widget,
    footer .menu {
        margin: 0px!important;
    }
    footer .sub-menu {
        padding: 30px;
        border-bottom: 1px solid #919191;
        display: none;
    }
    footer .sub-menu li:before {
        display: none;
    }
    footer .fl-module-icon .fl-icon-wrap,
    footer .fl-module-heading {
        padding: 5px 20px;
        width: 100%;
    }
    footer .fl-menu-vertical{
        padding-left: 10px!important;
    }
    footer .fl-module-icon .fl-icon-wrap {
        display: block;
    }
 
    footer .fl-icon i {
        float: none;
    }
    
    footer .fl-module-icon .fl-icon-wrap br {
        display: none;
    }
    footer .fl-col {
        margin-bottom: 30px;
    }
    .menu-footer-menu-container {
        overflow: hidden;
        padding: 10px 30px;
    }
    #menu-footer-menu {
        text-align: center;
    }
    #menu-footer-menu li {
        display: inline;
        float: none!important;
        border: 0px;
    }
    #menu-footer-menu a {
        border: 0px;
        display: inline!important;
        padding: 0px 10px!important;
    }
    footer .menu-footer-menu-container ul li:nth-child(1) a {
        color: #767676!important;
    }
    footer .fl-node-58b5816f53831.fl-col-small {
        color: white;
        text-align: center;
    }
    .leftSideImageSection .fl-photo-content img,
    .rightSideImageSection .fl-photo-content img {
        display: block;
        margin: 0 auto;
        float: none;
    }
    .rightSideImageSection .fl-col-group {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

.associations ul li {
    padding: 5px 0;
    font-weight: 700;
}


/* Footer 1 */

.footer-1-top a:hover {
    text-decoration: none;
}

.footer-1-top h3.fl-heading {
    font-weight: 700!important;
}

.footer-1-top .fl-social-icons {
    text-align: center !important;
}

.footer-1-top .fl-social-icons a.fl-icon {
    margin: 0 10px;
}

.footer-1-top .fl-module-menu .fl-menu .menu {
    padding: 0;
    margin: 0;
}

.footer-1-top .fl-module-menu .fl-menu .menu li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.footer-1-top .fl-module-menu .fl-menu .menu li a {
    padding: 5px 0px;
    font-size: 14px;
    line-height: 24px;
}

.footer-1-top .footer-menu .fl-menu .menu li {
    display: inline-block;
}

.footer-1-top .footer-menu .fl-menu .menu li a {
    padding: 0 10px;
    font-size: 12px;
}


/* Slider Menu */

.slider-menu {
    position: absolute;
    right: 0px;
    z-index: 100;
    top: 0px;
    height: 460px;
    overflow: hidden;
}

.slider-menu ul {
    background-color: white;
    vertical-align: middle;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 65px;
    color: #2d2d2d;
    font-weight: bold;
    margin-right: -235px;
}

.slider-menu ul li {
    overflow: hidden;
    border: 1px solid #eee;
    border-width: 0px 0px 1px 0px;
    width: 300px;
}

.slider-menu .icon {
    float: left;
    font-size: 23px;
    width: 65px;
    text-align: center;
    border: 1px solid #eee;
    border-width: 0px 1px 0px 0px;
    cursor: pointer;
}

.slider-menu .padding {
    padding: 0px 15px;
    display: block;
}

.slider-menu a {
    color: #2d2d2d;
    float: left;
}

@media(max-width:768px) {
    .slider-menu {
        display: none;
    }
}


/* Popup */

.fr_popup {
    display: none;
}

.fr_popup .bg {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.fr_popup .content {
    position: absolute;
    z-index: 1001;
    width: 100%;
}

.fr_popup .content-inner {
    width: 628px;
    background-color: white;
    overflow: auto;
    margin: auto;
}

.fr_popup .content .row-item {
    padding: 30px 50px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.fr_popup .content .row-item * {
    margin: 0px;
}

.right {
    float: right;
}

.left {
    float: left;
}


/* FL Photo */

.fl-photo .has_coupon .over {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

.fl-photo .has_coupon {
    cursor: default;
}

.fl-photo .has_coupon:hover .over {
    display: block;
}

.fl-photo .has_coupon .over-inner {
    display: table;
    height: 100%;
    width: 100%;
}

.fl-photo .has_coupon .over-inner2 {
    display: table-cell;
    vertical-align: middle;
}

.fl-photo .has_coupon .over .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    min-width: 140px;
    cursor: pointer;
}

.fl-photo .has_coupon .over .fl-button.white {
    border: 1px solid white;
    background-color: transparent;
}


/* TOGGLE BOX BOTTOM */

.fr_toggle_box {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.fr_toggle_box .bg {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.fr_toggle_box .box_content {
    background-color: white;
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    display: none;
}

.fr_toggle_box .handle {
    background-color: #383838;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: -66px;
    cursor: pointer;
}

.fr_toggle_box.active .handle i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fr_toggle_box .box_content table {
    width: 70%;
    table-layout: fixed;
    margin: 0 auto;
}

.fr_toggle_box .padding {
    padding: 40px;
}

.fr_toggle_box .box {
    width: 100%;
    height: 100%;
    min-height: 275px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.fr_toggle_box .box_white {
    border: 0px solid #212121;
    color: #212121;
}

.fr_toggle_box .box_red {
    background-color: #C92830;
    color: white;
}

.fr_toggle_box .box * {
    color: inherit;
}

.fr_toggle_box td {
    padding: 0px 20px;
}

[data-fr-link] {
    cursor: pointer;
}

.fr_toggle_box .fixed_bottom {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.fr_toggle_box .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
}

.fr_toggle_box .box_red .fl-button {
    background-color: white!important;
    color: #cc252a!important;
}

.fr_toggle_box .text {
    padding: 40px 0px 0px;
}

.fr_toggle_box .text * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fr_toggle_box .text h2 {
    font-size: 45px;
}

.fr_toggle_box .text p {
    margin-top: 10px;
}

@media(max-width:1024px) {
    .fr_toggle_box {
        display: none;
    }
}


/* Rug Shop Trading Products */

.products-list .product-list {
    margin: 0 -40px;
    padding: 0;
    list-style: none;
}

.products-list .product-list:after {
    content: "";
    display: table;
    clear: both;
}

.products-list .product-list li {
    width: 25%;
    margin: 15px 0;
    float: left;
    text-align: center;
}

.products-list.column-3 .product-list li {
    width: 33.33%;
}

.products-list.column-2 .product-list li {
    width: 50%;
}

.products-list .product-list li .product-inner {
    margin: 0 20px;
}

.products-list .product-list li .product-img-holder {
    margin: 0 0 20px;
}

.products-list .product-list li .product-info h6 {
    margin: 0;
    color: #bdbdbd;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}

.products-list .product-list li .product-info h4 {
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 10px;
}

.products-list .product-list li .product-info h4 a {
    color: #333;
}

.products-list .product-list li .product-info h4 a {
    color: #428bca;
}

.products-list .product-list li .product-info .price-section span {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

.products-list .product-list li .product-info .price-section span.price {
    color: #e08d2b;
    font-size: 33px;
}

.products-list .product-list li .product-info .price-section span.sale {
    color: #e08d2b;
    font-size: 12px;
}

.products-list .product-list li .button-section {
    margin: 20px 0 0;
}

.products-list .product-list li .button-section a.button {
    padding: 12px 24px;
    background: #00247a;
    border: 1px solid;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 0 0 5px;
}

.products-list .product-list li .button-section a.button:hover {
    background: #fff;
    color: #a0332e;
}

.products-list .product-list li .button-section .brand-wrap {
    font-size: 12px;
    color: #908c7b;
    text-transform: uppercase;
}


/* FR Slider */

.fr-slider {
    position: relative;
}

.fr-slider .arrow {
    position: absolute;
    font-size: 30px;
    color: #212121;
    z-index: 2;
    height: 100%;
    text-align: center;
    width: 30px;
    float: left;
}

.fr-slider .arrow .fa {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.fr-slider .arrow.prev {
    left: 10px;
}

.fr-slider .arrow.next {
    right: 10px;
}

.fr-slider .slides {
    margin: 0px 40px;
}

.fr-slider .slide {
    padding: 0px 7px;
}

.fl-slide-mobile-photo-img {
    min-height: 300px;
}

.fl-node-58fab51c4e4ff p a,
.fl-node-5be49ecb044f8 p a,
.fl-node-5aabf8011359b p a {
    display: block;
    padding: 1px 0;
}


/* Commom btn CSS Overwrite */


/* a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button {
    background-color: #00247a!important;
    color: #ffffff !important;
    border: 1px solid #00247a!important;
}

a.fl-button:hover,
.fl-builder-content a.fl-button:hover {
    background: #fff !important;
    border: 1px solid #a0332e!important;
    color: #a0332e !important;
}

a.fl-button:hover,
.fl-builder-content a.fl-button:hover span {
    color: #a0332e !important;
}

a.fl-button:hover *,
.fl-builder-content a.fl-button:hover * {
    color: #00247a !important;
}

.btn-white a.fl-button,
.btn-white a.fl-button:visited,
.btn-white .fl-builder-content a.fl-button {
    background: #fff !important;
    color: #00247a !important;
    border: 1px solid #00247a!important;
    font-weight: 700;
} */


/* HP Products Boxes */

.fl-module-njba-logo-grid-carousel .njba-logo-carousel-main .bx-wrapper {
    margin-bottom: 0;
}

.fl-module-njba-logo-grid-carousel.arrow-default .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next,
.fl-module-njba-logo-grid-carousel.arrow-default .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {
    top: 50%;
    right: -50px;
    font-size: 35px;
}

.fl-module-njba-logo-grid-carousel.arrow-default .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {
    left: -50px !important;
}

.hp-product-1 .njba-logo-carousel-main .njba-out-side .njba-logo-inner {
    border: none;
    background: none;
}

.hp-product-2 .njba-logo-grid-main .njba-out-side .njba-logo-inner {
    border: none;
    background: none;
}

.hp-product-3 .njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content {
    width: 50%;
    font-size: 13px;
    line-height: 24px;
}

.hp-product-4 .njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content {
    width: 50%;
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    float: right;
}

.hp-product-4 .fl-module-njba-tabs .njba-tabs .njba-tabs-label .njba-tab-label-inner {
    padding: 10px 20px;
}

.hp-products-6 .fl-callout .fl-callout-title {
    font-size: 18px;
    padding: 0;
}

.hp-products-7 .fl-callout .fl-callout-title {
    font-size: 18px;
    padding: 0;
}

.hp-products-7 .fl-callout .fl-callout-content {
    position: relative;
}

.hp-products-7 .fl-callout .fl-callout-content-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 0 15px;
}

.hp-products-7 .fl-callout .fl-callout-text {
    font-size: 90%;
}

.hp-product-7 .njba-tabs .njba-tab-title {
    text-transform: uppercase;
}

.hp-products-7 .njba-content:after {
    content: "";
    display: table;
    clear: both;
}

.hp-product-7 .text-content {
    width: 50%;
    float: left;
    font-size: 13px;
    line-height: 24px;
}

.hp-product-7 .text-img {
    width: 45%;
    float: right;
    text-align: center;
}

.hp-product-7 .njba-tabs.njba-tabs-style-7.njba-tab-section-main {
    display: flex;
    flex-direction: column-reverse;
}


/* Menu  */

.fl-page-nav-right .fl-page-header-container {
    padding: 10px 0;
    max-width: 1250px;
    width: 100%;
}

@media (max-width:1280px) {
    .fl-page-nav-right .fl-page-header-container {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

.fl-node-5be4ee16d7203 .fl-heading .fl-heading-text {
    font-weight: 300;
}

.fl-node-5c06883d6160a .fl-slide-0 .fl-slide-photo {
    bottom: 0;
    margin: auto !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.fl-tabs-label {
    color: #00263a !important;
}

.fl-tabs-label.fl-tab-active {
    color: #f06449 !important;
}

.gform_wrapper .timeEstimate .gfield_time_hour i {
    width: 5px;
    font-weight: bolder;
    margin-top: -28px;
}

@media(max-width:768px) {
    .fr-slider .arrow {
        height: 80px;
        line-height: 80px;
    }
    .fl-node-5be4510d28a69.fl-module-heading .fl-heading {
        text-align: center;
    }
    .fl-node-5be442c535e25 {
        display: flex;
        padding: 10px 0;
        justify-content: center;
    }
    .fl-node-5be442c535e25 .fl-module-content {
        margin: 0;
    }
    .fl-node-5be442c535e25 .fl-col {
        margin: 0;
    }
    .fl-node-5be442c535e25 .fl-col.fl-node-5be5dfc9c4e3e {
        margin: 0 10px;
    }
    header .close_menu,
    header .show_menu,
    header .search_mobile,
    header .close_search {
        margin-top: 25px;
    }
    .navbar-nav>li {
        display: block;
        float: none;
    }
    nav.fl-page-nav.navbar.navbar-default,
    .fl-page-nav-collapse ul.navbar-nav {
        width: 100%;
    }
    .fl-node-5beda7e76ea83 {
        display: flex;
        justify-content: center;
    }
    .fl-node-58fab5c012487 p,
    .fl-node-58fab51c4e4ff p,
    .fl-node-5be49ecb044f8 p,
    .fl-node-5aabf8011359b p,
    .fl-social-icons {
        text-align: center !important;
    }
    .sc_mega_menu.active .secondary_menu .nav.navbar-nav.menu {
        margin: 0;
        padding: 0 15px;
    }
    .facet_filters {
        top: 0px;
        bottom: 0;
        height: auto;
    }
    .sc_mega_menu .fl-page-nav-wrap {
        top: 145px;
        bottom: 0;
        height: auto;
    }
    .fl-node-5be4895605f88 .fl-heading {
        text-align: center !important;
    }
    #sifContainer {
        width: auto !important;
        margin: 0 15px !important;
    }
    .fl-builder-content .fl-node-58b58157a16b3 h5 {
        text-align: center !important;
    }
    .fl-node-58af407a120f2 {
        max-width: 100% !important;
    }
    .fl-node-5c08bbf72601a .menu .fl-has-submenu .sub-menu {
        /* position: static; */
    }
    .web-form .gform_wrapper .timeEstimate .ginput_container_time select {
        width: 100px !important;
        max-width: 60px !important;
        white-space: nowrap;
    }
    /* mobile */
    .searchBarTop,
    .fl-page-nav-right .fl-page-nav-search {
        position: static;
    }
    .searchBarTop {
        margin: 0;
        padding: 0;
    }
    .fl-page-header-logo-col>.fl-page-nav-wrap,
    .fl-page-header-logo-col>.searchBarTop {
        flex: 1;
    }
    .fl-page-header-logo-col>.fl-page-header-logo {
        flex: 2;
    }
    .fl-page-nav-right .fl-page-header-container {
        padding: 10px 20px;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle * {
        color: #000000;
    }
    .fl-builder-content-84 {
        position: static;
        height: auto;
    }
    .fl-page-header-container.container {
        padding-top: 10px;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo {
        padding-bottom: 0;
        text-align: center;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle {
        top: 0;
        position: static;
    }
    .navbar-toggle {
        display: block;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-header-logo {
        margin: 0;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo-col {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .fl-page-nav-right .fl-page-nav-search {
        display: block;
    }
    .fl-page-nav-search form {
        width: calc(100vw);
        position: absolute;
        margin-left: -50vw;
        top: 100%;
        left: 50%;
    }
    .fl-node-5be442c535e25 .fl-col {
        margin: 0 10px;
    }
    .fl-builder-content .fl-node-58b58157a16b3 p {
        text-align: center !important;
    }
    .fl-node-58fab3e96409b {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .fl-node-58fab3e96409b>.fl-col {
        width: 30% !important;
    }
    .fl-node-5c07f5b4dd652 {
        text-align: center;
    }
    .fl-node-5c07f5b4dd652 .fl-col {
        margin: 0 !important;
        display: inline-block;
    }
    #sifContainer {
        display: inline-block;
    }
    .fl-node-5c07f56f679ae {
        text-align: center;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        margin: 0 !important;
        padding: 30px;
        background: transparent;
        position: absolute;
        top: 0;
        text-align: center;
        left: 0;
        right: 0;
        z-index: -1;
    }
    .toggle-image-thumbnails a {
        border: 3px solid white;
        width: 40px;
        height: 40px;
        display: block;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
    }
    .facetwp-per-page {
        text-align: left !important;
    }
    .facetwp-pager {
        float: left;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        bottom: 0;
        margin: auto !important;
    }
    .fl-col-small {
        max-width: 700px;
    }
    .plpAlignTitle {
        position: absolute;
        top: 28px;
        right: 0;
    }
    .cat-boxes .fl-callout .fl-callout-content {
        max-width: 360px;
        margin: 0 auto;
    }
}

@media (max-width:567px) {
    .product-detail-layout-5 .button-wrapper .button{
		width: 100%!important;
}
.active-gallery-modal .product-box > a{
	display: inline-block!important;
}
    button#responsive-menu-button {
        top: 6px!important;
    }
    .plpAlignTitle {
        position: static;
    }
    body {
        /* padding-top:150px; */
    }
    .fl-node-5be442c535e25 {
        padding: 10px 20px;
    }
    #djcustom-header {
        top: 45px!important;
    }
    header .close_menu {
        /* display: none; */
    }
    .facet_filters {
        top: 0px;
    }
    .tabs-1 .fl-tabs-label {
        color: #2d2d2d;
        width: 100%;
    }
    .fl-page-nav ul.sub-menu {
        width: auto;
    }
    .fl-builder-content .fl-node-58b58157a16b3 h5,
    .fl-node-58fab48ccb679.fl-module-heading .fl-heading,
    .fl-node-58fab44d7e59e.fl-module-heading .fl-heading {
        text-align: center !important;
        font-weight: bold;
    }
    #menu-footer-menu a {
        font-size: 14px;
    }
    .fl-node-5beb43b72f056 {
        display: none;
    }
    .fl-node-5be442c535e25 {
        padding: 8px 15px;
    }
    .fl-node-5beda7e76ea83 {
        flex-direction: column;
    }
    div#sifContainer {
        width: auto;
        text-align: center;
        padding: 10px;
        margin: 0 20px;
    }
    .fl-node-58fab5c012487 {
        padding: 0 25px;
    }
    .default-form h1 {
        font-size: 34px !important;
        word-wrap: normal;
    }
    .top-bar-1 .fl-heading {
        margin: 0;
    }
    footer .fl-col.fl-node-5beda7e76ec6f {
        margin-bottom: 0 !important;
    }
    .fl-node-58fab3e96409b>.fl-col {
        width: 100% !important;
    }
    /* detail page  */
}


/* Custom CSS */


/* .main-banner .fl-photo .fl-photo-content,
.main-banner .fl-photo .fl-photo-content img{
    width: 100%;
} */

.fl-node-5be442c5366bc .fl-module-heading .fl-heading {
    text-align: left;
    font-size: 14px;
}

.review-wrap {
    font-size: 18px;
    font-weight: 600;
    color: #767676;
    font-family: 'PT Sans Narrow', sans-serif;
}

.review-wrap .fa {
    font-size: 110%;
    margin: 0px;
    vertical-align: middle;
}

.review-wrap .fa:last-child {
    margin-right: 7px;
}

.review-wrap .button {
    margin: 20px 0 0;
    font-size: 14px;
    letter-spacing: 1px;
}

.copyrights .social-icons {
    text-align: center;
}

.copyrights .social-icons a:hover,
.copyrights .social-icons a:hover i {
    color: #000 !important;
}

.copyrights a {
    color: #767676;
}

.copyrights a:hover {
    color: #000;
}

.broken_link,
a.broken_link {
    text-decoration: none!important;
}

.api-textbox,
.api-selectbox {
    width: 200px;
    padding: 4px 10px;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:hover,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:focus {
    cursor: pointer;
}

.fl-row-content-wrap {
    background-color: transparent;
}


/* Nav */

.nav-1 a.fl-callout-title-link.fl-callout-title-text {
    color: #DC515A;
    font-family: Roboto;
    font-size: 11px;
    letter-spacing: 0.37px;
    line-height: 13px;
}

.nav-1 .fl-module-content.fl-node-content,
.nav-1 .fl-module-content {
    padding: 5px 0px;
    margin: 0px;
}

.nav-1-menu .fl-menu a {
    font-size: 11px!important;
}

.nav-1-menu .menu a {
    padding-top: 0px!important;
}

.nav-1-logo .fl-photo-align-center {
    text-align: left;
}

.nav-1-logo .fl-photo-align-center img {
    width: 178px;
}

.custom-nav .fl-page-nav-search {
    position: absolute;
    right: auto;
    top: auto;
    left: auto;
}

.call-today {
    color: #767676;
    font-family: Roboto;
    font-size: 11px;
    line-height: 23px;
}

.nav-mobile {
    color: #767676;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;
}

.nav-small-cart-menu {
    text-align: right;
}

.nav-small-cart-menu ul {
    list-style: none;
    display: inline-flex;
    padding: 2px;
    text-align: right;
    color: #767676;
}

.nav-small-cart-menu ul li {
    padding: 0px 25px;
}

.nav-locations ul {
    list-style: none;
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.nav-locations ul li {
    width: 20%;
    text-align: center;
}

.nav-locations ul li h3,
.nav-locations ul li span {
    color: #767676;
    margin: 0px;
    font-size: 16px;
}

.nav-address-container {
    text-align: center;
}

.nav-address-container .contactph {
    font-size: 28px;
    color: #767676;
}

.nav-address-container .contactph a,
.nav-address-container a {
    color: #767676;
}

.nav-address-container .socialicons .social-icons li a {
    opacity: 0.5;
}

.nav-address-container .socialicons .social-icons li a:hover {
    opacity: 1;
}

div.nav-cover-image {
    background: transparent;
}


/* Home Page CSS */

.fl-module-content-slider .bx-wrapper {
    margin-bottom: 0;
}

.fl-module-content-slider .bx-wrapper .bx-pager {
    bottom: 20px;
    padding: 0;
    z-index: 5;
}

.fl-module-content-slider .bx-wrapper .bx-pager .bx-pager-item a {
    background: #fff;
    border: 2px solid #fff;
    width: 12px;
    height: 12px;
}

.fl-module-content-slider .bx-wrapper .bx-pager.bx-default-pager a.active,
.fl-module-content-slider .bx-wrapper .bx-pager.bx-default-pager a:focus,
.fl-module-content-slider .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: transparent;
}

.home-opacity .fl-module-content {
    background-color: rgba(255, 255, 255, 0.92);
}

.full-width-img .fl-photo-content,
.full-width-img .fl-photo-content img.fl-photo-img {
    width: 100%;
}

.contact_us {
    background-color: #000000 !important;
    border: 1px solid #000000 !important;
}

.contact_us:hover {
    background-color: #ffffff !important;
}

.contact_us span {
    color: #ffffff !important;
}

.contact_us:hover span {
    color: #000000 !important
}

.storename {
    list-style: none;
    padding: 0;
    margin-bottom: 0px!important;
}

.fl-builder-content .fl-node-5c6fdfb62272a a {
    color: #ffffff !important;
}

.storename .store-container .address a,
.storename .store-container .phone a,
.phone-icon-with,
.fa-map-marker-alt,
.ua-icon-phone3 {
    color: #000000;
}

.coupon-form .widgettitle {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
}

.coupon-form .gfield_label {
    color: #767676;
    font-family: Roboto;
    font-size: 13px;
    line-height: 20px;
}

.coupon-form .ginput_container input {
    border-radius: 0;
}

.coupon-form #field_1_13,
.coupon-form #label_1_10_1,
.coupon-form #label_1_10_1 a {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
}

.coupon-form #label_1_10_1,
.coupon-form #label_1_10_1 a {
    line-height: 20px;
}

.coupon-form #field_1_13 {
    line-height: 14px
}

.coupon-form .gform_footer {
    text-align: center;
}

.coupon-form .gform_footer #gform_submit_button_1 {
    background-color: transparent;
    border-color: #ffffff;
    border-radius: 29.5px;
}

.coupon-form .gform_footer #gform_submit_button_1:hover {
    border-color: #f06449;
}

.coupon-form-img .fl-photo-content {
    width: 100%;
}

.coupon-form-img .fl-photo-content img {
    width: 100%;
}

footer .fl-module-content .fl-icon-text p {
    margin: 0px!important;
}

footer .fl-module-content .fl-icon {
    vertical-align: top;
}

.fl-menu-mobile-toggle {
    color: #fdda01!important;
}

.location-phone .fl-icon-text p {
    margin: 0px;
}

@media(max-width:993px) {
    .fl-page-header-wrap .fl-page-header-logo-col .fl-page-header-logo {
        width: 20%;
        padding: 0px!important;
        margin: 0px auto;
    }
    #responsive-menu-additional-content a {
        color: #fff;
    }
    button#responsive-menu-button {
        z-index: 999!important;
    }
}

@media(max-width:768px) {
    .fl-page-header-wrap .fl-page-header-logo-col .fl-page-header-logo {
        width: 30%;
        padding: 0px!important;
        margin: 0px;
    }
    .tabs-5 .fl-tabs-label {
        display: block;
        width: 100%;
        max-width: none;
        background-color: #aba5a5;
    }
    .tabs-5 .fl-tabs-label {
        position: relative;
        padding: 20px;
        margin-bottom: 1px;
    }
    .tabs-5 .fl-tabs-panel i {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .fl-menu #menu-copyright-bar-menu {
        width: 100%;
    }
    footer .fl-col {
        margin-bottom: 10px;
    }
}

@media(max-width:650px) {
    .tabs-5 .tab_img {
        padding: 20px;
        width: 100%;
        float: none;
    }
    .tabs-5 .tab_img img {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .tabs-5 .tab_desc {
        width: 100%;
        float: none;
        margin-right: 0%;
        padding: 20px;
    }
    footer .fl-module-heading {
        padding: 5px 20px;
    }
    footer .fl-module-heading .fl-heading {
        text-align: left!important;
    }
    footer .menu>li>a {
        padding: 10px 35px!important;
    }
}

@media(max-width:560px) {
    .fl-page-header-wrap .fl-page-header-logo-col .fl-page-header-logo {
        width: 40%;
        padding: 0px!important;
        margin: 0px;
    }
}

@media(max-width:400px) {
    .fl-page-header-wrap .fl-page-header-logo-col .fl-page-header-logo {
        width: 50%;
        padding: 0px!important;
        margin: 0px;
    }
}


/* .facetwp-template .product-grid .product-row .fl-post-grid-post .product-grid > .fl-button,
.facetwp-template .product-grid .product-row .fl-post-grid-post .product-grid > .fl-button + br,
.product-box .button-wrapper a.button.alt,
.product-box .button-wrapper a.button.alt + .button + br{ display:none;} */

.product-box .button-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.product-box .button-wrapper .button {
    margin-top: 0;
    margin-bottom: 20px;
}

.product-detail-layout-5 .button-wrapper .button {
    width: 44% !important;
}

.tab_hover .fl-tabs-label {
    cursor: default!important;
}